// 常用样式快捷class

// overflow
.over-y-auto {
	overflow-y: auto;
}

// 宽度
.w100 {
	width: 100% !important;
}

// 高度
.h36 {
	height: 36px;
}
.h100 {
	height: 100%;
}

// padding
.p0 {
	padding: 0;
}

// padding
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pd30 {
	padding: 30px;
}

// margin
.m0 {
	margin: 0;
}

// margin
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt60 {
	margin-top: 60px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr20 {
	margin-right: 20px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml30 {
	margin-left: 30px;
}
.ml40 {
	margin-left: 40px;
}

// 鼠标悬停样式
.cs-pointer {
	cursor: pointer;
}

// flex布局
.h-flex {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	-webkit-box-align: center;
	align-items: center;
}
.flex {
	display: flex;
}
.flex1 {
	flex: 1;
}
.flex-ac {
	align-items: center;
}
.flex-space-between {
	justify-content: space-between;
}
.flex-jst-center {
	justify-content: center;
}
.flex-drc-cln {
	flex-direction: column;
}
.flex-align-content-stretch {
	align-content: stretch;
}

// 字号
.f12 {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}

// 字体加粗
.fw500 {
	font-weight: 500;
}
.fw600 {
	font-weight: 600;
}

// 字体颜色
.c0d0e21 {
	color: #0d0e21;
}
.c6B6D74 {
	color: #6b6d74;
}
.cred {
	color: red;
}

// 元素定位
.po-r {
	position: relative;
}
